header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    p.lead This is the angular fronted generator
    img(src='assets/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header about:
      p For any issues and bugs please refer to our issues page on
          a(href='https://github.com/peekabustudios/generator-angular-frontend/issues') github
footer.footer
  .container
    p
      | angular-frontend generator v0.0.3