html.modern
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title <%= _.camelize(appName) %>
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/style.css')
  body(ng-app='<%= _.camelize(appName) %>')
    .container(ng-view='')

    // injector:js lib
    // endinjector lib

    // injector:js
    // endinjector

